<h1>Welcome to CSE Motors</h1>
<div class="hero">
  <div class="callout">
    <h2>DMC Delorean</h2>
    <p>3 Cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice!</p>
    <img src="/images/site/own_today.png" alt="Own today button" />
  </div>
</div>
<div class="services">
  <section class="products-gallery">
    <h2>Delorean Upgrades</h2>
    <div id="gallery">
      <div class="gallery-item">
        <div>
          <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor icon" />
        </div>
        <a href=""> Flux Capacitor</a>
      </div>
      <div class="gallery-item">
        <div>
          <img src="/images/upgrades/flame.jpg" alt="Flux Capacitor icon" />
        </div>
        <a href="">Flame Decals</a>
      </div>
      <div class="gallery-item">
        <div>
          <img
            src="/images/upgrades/bumper_sticker.jpg"
            alt="Flux Capacitor icon"
          />
        </div>
        <a href="">Bumper Stickers</a>
      </div>
      <div class="gallery-item">
        <div>
          <img src="/images/upgrades/hub-cap.jpg" alt="Flux Capacitor icon" />
        </div>
        <a href="">Hub Caps</a>
      </div>
    </div>
  </section>
  <section class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <div>
      <ul>
        <li>Best things ever.</li>
        <li>Coool</li>
        <li>Im feeling good</li>
        <li>Hey McFly</li>
        <li>80's livig</li>
      </ul>
    </div>
  </section>
</div>
