:root {
  --primary-color: rgb(32, 52, 120);
  --secondary-color: rgb(135, 135, 135);
  --tertiary-color: rgb(0, 113, 170);
}


/******* Change Box Model ***************/
*,
*:before,
*:after {
  /* font-size: 1.05em; */
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ancizar Serif", serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-size: 2.5em;
  color: var(--primary-color);
}

h2 {
  font-size: 1.8em;
}

/* Layout */
body {
  margin: 10px 50px;
  background-image: url("/images/site/checkerboard.jpg");
  height: 97vh;
}

#app {
  min-height: 100vh;
  border-radius: 20px;
  border: 3px solid var(--primary-color);
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: grid;
  grid-template-rows: auto auto 1fr auto;

}

main {
  height: 100%;
}

/* Index */
nav ul {
  width: 100%;
  padding: 10px;
  display: inline-flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: var(--primary-color);
}

nav ul li a {
  font-size: 1.3em;
  width: 100%;
  text-decoration: none;
  color: white;
}

#top-header {
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
}

#top-header a {
  text-decoration: none;
  color: var(--primary-color);
}

.siteName {
  font-size: 2rem;
}

/* Hero */
.hero {
  background-image: url("/images/vehicles/delorean.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 30vh;
  height: auto;
  width: 80%;
  text-align: center;
  margin: auto;
}

.callout {
  font-size: 1.6em;
  background-color: rgb(255, 255, 255, 0.85);
  width: 50%;
  height: 100%;
  margin: 5vh auto 0 0;
  position: relative;
  color: var(--tertiary-color);
  text-align: left;
  padding: 10px 0 0 30px;
}

.callout img {
  width: auto;
  height: 60px;
}

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;

}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.services section {
  width: 100%;
  padding: 10px;
}

.gallery-item {
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
  width: 100%;
}

.gallery-item div {
  background-color: var(--tertiary-color);
  width: 100%;
  border: 1px solid var(--primary-color);
}

.gallery-item img {
  height: 80%;
}

/* Error page 404 */
.error-page {
  text-align: center;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.error-page img {
  width: 100%;
  height: auto;
}

.error-page div {
  background-color: #75934E;
  border-radius: 10px;
}

.error-page h1 {
  color: #ffffff;
  font-size: 4em;
}

.error-page p {
  font-size: 3em;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px;
  background-color: #ffffff;
}

.internal-error div {
  background-color: #dc143c;
  border-radius: 10px;
}

.internal-error p {
  color: #dc143c;

}

.not-found p {
  color: #75934E;
}

/* Inventory Details */
.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: 80%;
}

.details img {
  margin: auto;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details div {
  font-size: 1.5em;
  background-color: var(--tertiary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  height: 100%;
}

#inv-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 20px;
}

#inv-display img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#inv-display li {
  list-style: none;
  padding: 10px;
  margin: 5px;
  background-color: var(--tertiary-color);
  /* color: white; */
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr auto;
}

.namePrice {
  /* padding: 10px; */
  font-size: 1.2em;
}

.namePrice a {
  text-decoration: none;
  color: #ffffff;
}

.namePrice span {
  color: #ffffff;
  font-size: 2em;
}

#inv-display li a {
  align-self: center;
}

.status {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.status_available {
  color: #75934E;
}

.status_sold {
  color: #dc143c;
}

/* Registration and Login */
input:required:invalid,
input:focus:invalid {
  background-image: url(/images/invalid.png);
  background-position: right top;
  background-repeat: no-repeat;
}

input:required:valid {
  background-image: url(/images/valid.png);
  background-position: right top;
  background-repeat: no-repeat;
}

/* Add Links */
.add-menu {
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-menu li {
  background-color: #ffffff;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.add-menu li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2em;
}

.add-menu li a:hover {
  color: var(--secondary-color);
  transition: 0.5s;
}

/* Forms */
form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  padding: 20px;
  margin: auto;
  width: 70%;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 1.2em;
}

form a,
form button {
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 0 5px #ffffff;
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  grid-column: 1/3;
  font-size: 1em;
}

form a:hover,
form button:hover {
  background-color: var(--tertiary-color);
  color: #ffffff;
  transition: 0.5s;
}

form input:valid,
form select:valid,
form textarea:valid {
  border: 3px solid #75934E;
}

form input:invalid,
form select:invalid,
form textarea:invalid {
  border: 3px solid #dc143c;
}


form input,
form select,
form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
}

form textarea {
  resize: none;
  height: 100px;
}

form p {
  grid-column: 1/3;

}

#showPasswordSpan {
  grid-column: 2/3;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
  color: var(--primary-color);
  text-align: center;
}

/* Mobile */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }

  .callout {
    width: 60%;
    height: auto;
    font-size: 1em;
  }

  h2 {
    font-size: 1.2em;
  }

  .hero {
    background-image: url("/images/vehicles/delorean-tn.jpg");
  }


  nav ul {
    font-size: 0.5em;
    padding: 10px 0;
    align-items: center;
  }

  .callout img {
    height: 40px;
  }

  body {
    margin: 10px 5px;
    height: 100%;
    background-image: none;
  }

  #app {
    width: 100%;
    height: 100%;
  }


  .hero {
    width: 100%;
    height: auto;
  }


  .namePrice span {
    font-size: 1.2em;
  }

  .gallery-item img {
    height: auto;
    max-width: 100%;
  }

  .services {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .products-gallery {
    grid-row: 2/3;
  }

  .reviews {
    grid-row: 1/2;
  }

  .details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 0;
    gap: 10px;
  }

  .details img {
    width: 100%;
    height: auto;
    align-items: center;
  }

  .details div {
    font-size: 1em;
    padding: 20px;
    margin: auto;
  }

  /* Classification view */
  #inv-display {
    grid-template-columns: 1fr;
  }

  /*  Error views */
  .error-page {
    grid-template-columns: 1fr;
    border-radius: 10px;
    font-size: 1em;
  }

  .error-page p {
    font-size: 1.2em;
  }

  .error-page h1 {
    padding: 0;
    font-size: 2em;
  }

  /* Mobile Form */
  form {
    grid-template-columns: 1fr;
    width: 90%;
  }
}

/* nav ul {
  padding: 0;
} */