<!-- Check if title exists, to display it or redirect home -->
<div class="error-page">
  <div>
    <% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %>
    <!-- Displaying Error -->
    <p><%- message %></p>
  </div>
  <img
    class="img500"
    src="/images/errors/Darth-Vader.webp"
    alt="Darth Vader, internal error"
  />
</div>
